---
layout: base.njk
title: Home
---

<!-- SECTION 1 -->
<section class="section dark-section">
  <div class="content-grid">
    <div class="text-column">
      <h1>Johann Gottfried Seume</h1>
      <h2>A Stroll to Syracuse</h2>
      <p>From Saxony to Scilly, 1801 - 1802.</p>
    </div>
    <div class="image-column">
      <img src="/assets/img/seume-stamp.jpg" alt="Seume stamp">
    </div>
  </div>
</section>

<!-- SECTION 2 -->
<section class="section light-section">
  <div class="content-grid">
    <div class="image-column">
      <img src="/assets/img/map1.png" alt="map">
    </div>
    <div class="text-column">
      <h1>On Foot and Free</h1>
      <h2>Walking through history</h2>
      <p>In an age of revolution and empire, Seume walked—not as a tourist, nor in flight, but as a witness. He believed travel was a moral act, and walking its most honest form.</p>
    </div>
  </div>
</section>

<!-- SECTION 3 -->
<section class="section dark-section">
  <div class="content-grid">
    <div class="text-column">
      <h1>About</h1>
      <h2>A ten year project</h2>
      <p>"To follow and cultivate truth, to protect justice, to wish and do good to all equally, to fear nothing."
</p>
    </div>
    <div class="image-column">
      <img src="/assets/img/seume-portrait-1.jpg" alt="Seume portrait">
    </div>
    
  </div>
</section>
