---
layout: base.njk
title: Home
---

<!-- SECTION 1 - INTRO -->

<section class="text-column">
  <h1>Johann Gottfried Seume</h1>
  <h2>A Stroll to Syracuse</h2>
  <p>From Saxony to Scilly, 1801 - 1802</p>
</section>

<section class="image-column">
  <img src="/assets/img/seume-stamp.jpg" alt="Seume stamp">
</section>

<!-- SECTION 2 - ABOUT -->

<section class="image-column">
  <img src="/assets/img/seume-portrait-1.jpg" alt="Seume portrait">
</section>

<section class="text-column">
  <h1>About</h1>
  <h2>A ten year project</h2>
  <p>From Saxony to Scilly, 2026 - 2027</p>
</section>


